<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Invitation Email</title>
</head>
<body>
<table cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr>
        <td>
            <p>Hi,</p>

            <p>
                You've been invited to join Senior Hub,
                a dedicated platform for seniors to explore wellness tips, plan daily
                activities, and connect with a supportive community.
            </p>
        </td>
    <tr>
        <td>
            <div>Please click this link below to proceed: </div>
            <a href=${link} rel="link"> ${link}</a>
        </td>
    </tr>
    <tr>
        <td>
            <p> We look forward to having you join us on Senior Hub!</p>
            <div>Best regards,</div>
            <div>The Senior Hub Team</div>
        </td>
    </tr>
</table>
</body>
</html>